<article>
<p id="text" class="text-2xl text-justify">{{this.currentTextNode.text}}</p>
<p id="options-buttons" class="btn-grid">
  <div class="flex justify-center">
    {{#each this.visibleOptions as |option|}}
    <button type="button" class="btn bg-sky-300 px-4 py-2 rounded m-2" {{on "click" (fn this.selectOption option)}}>
      {{option.text}}
    </button>
    {{/each}}
  </div>
</p>
</article>
