<article>
<p id="text" class="text-3xl text-justify">This is the story being explained</p>
<p id="options-buttons" class="btn-grid">
  <div class="flex justify-center">
    <button class="bg-yellow-100 m-2">Option 1</button>
    <button class="bg-yellow-100 m-2">Option 2</button>
    <button class="bg-yellow-100 m-2">Option 3</button>
    <button class="bg-yellow-100 m-2">Option 4</button>
  </div>
</p>
</article>
